.title{
  padding-top: 0;
  margin-top: 0;
}

.search-label{
  display: flex;
  gap: 6px
}

.title-container{
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.table-viewport{
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.import-export-container{
  display: flex;
  gap: 16px;
}

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.filter-form{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}